
.header-image{
width: 100%;
height: auto;
}

.text-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.text-body {
  font-family: 'Avenir', sans-serif;
  font-size: 19px;
}

.footer{
  background-color: #343233;
  color: #fff;
}

.footer-hr {
  border-top: 2px #fff solid;
}

.btn-primary.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.btn {
  border-radius: 0px;
  background-color: ;
}