@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&family=Titillium+Web:wght@700&display=swap');

.App {
  font-family: 'Nunito Sans', sans-serif;
  min-width: 100%;
}

.header-image {
  width: 100%;
  height: auto;
}

.text-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.footer {
  background-color: #343233;
  color: #fff;
}

.footer-hr {
  border-top: 2px #fff solid;
}

.btn-primary .pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.my-div {
  background-color: #fbfbfb;
}


@media (max-width: 768px) {
  .my-div {
    display: none;
  }

  .header-image {
    height: 50%;
  }
}

.header-div {
  background: url("https://alaf.co.tz/assets/img/headers/header-image.jpg");
  background-size: cover;
  background-position: top;
  height: 40%;
  min-width: 100%;
}

.shadow-div {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 12rem;
  padding-top: 12rem;
  height: 40%;
  min-width: 100%;
}

.text-large {
  font-size: 2em;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
